/*************** PAGE ***************/

#formWrapper{
    display: inline-block;
}

form, #worksheet{
    vertical-align: top;
}

#formWrapper{
    width: 24%;
}

#worksheet{
    display: inline-block;
    width: 75%;
}

#page1, #page2{
    margin: auto;
    width: 8.5in;
    height: 11in;
    border: 1px solid black;
}

/*************** FORM ***************/

form label{
    display: block;
}

form button{
    margin-top: 20px;
}

form div label:not(:first-child) {
    margin-top: 5px;
}

form h2{
    margin: .5em 0 .5em 0;
    font-weight: 600;
    font-size: 1.2em;
}

/*************** PAGE1 ***************/
#page1{
    position: relative;
}

#page1 > div{
    position: absolute;
}

#page1 h2{
    margin: 0;
    margin-bottom: .25in;
    color: #039BE5;
}

#header h2{
    color: white;
}

#patientInfo{
    height: 1in;
    width: 6.3in;
    padding: .1in;
    top: 0;
    left: 0;
    line-height: 1in;
    background-color: #0277BD;
    color: white;
}

#patientInfo h2{
    vertical-align: middle;
    margin-left: .25in;
}

#prescriberInfo{
    position: absolute;
    left: 2.5in;
    top: 0;
    height: 0;
    width: 0;
    right: 0;
    /*width: 6in;
    padding: .1in;
    top: 0;
    left: 2.5in;
    background-color: #039BE5;*/
    color: white;
    
    /* angled side*/
    border-right: 5in solid #039BE5;
    border-left: 1in solid transparent;
    border-top: 1.5in solid #039BE5;
}

#visuals{
    top: 3in;
    left: .5in;
    right: 3in;
}

#refill{
    width: 3.5in;
}

#refill img{
    height: 1.5in;
    float: left;
}

#refill span{
    width: 2in;
    float: right;
}

#refillPerc{
    position: absolute;
    left: .23in;
    top: 1.17in;
    font-size: .30in;
}

#pain{
    clear: both;
    margin-top: 2in;
}

#pain img{
    width: .6in;
    padding: .025in;
}

#pain #arrow{
    border: solid black;
    border-width: 0 5px 5px 0;
    position: absolute;
    display: block;
    padding: 5px;
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}

#importantInfo{
    top: 3in;
    left: 4.5in;
    right: .5in;
    background-color: #E9E9E9;
    padding: .1in;
    border-radius: .1in;
}

#importantInfo ul{
    padding-left: .2in;
}

#calendar{
    left: .5in;
    right: .5in;
    background-color: #E9E9E9;
    border-radius: .1in;
    bottom: 1in;
}

#calendar svg{
    margin-left: .25in;
}

#footer{
    bottom: 0;
    height: .5in;
    width: 100%;
    background-color: #039BE5;
}

/*************** PRINT ***************/
@media print{
    @page {
        size: letter;
        margin: 0;
    }
    
    body *{
        visibility: hidden;
    }
    
    #worksheet, #worksheet *{
        visibility: visible;
    }
    
    #worksheet{
        position: absolute;
        left: 0;
        top: 0;
    }
    
    #page1, #page2{
        display: block;
        width: 8.5in;
        height: 11in;
        border: 1px solid #FFF;
    }
}

/*************** MISC ***************/
.hide{
    display: none;
}

body{
    font-family: 'Open Sans', sans-serif;
    color: #024458;
}
