/************************************************************  
                            FORM 
************************************************************/

#formWrapper {
    box-sizing: border-box;
}

form {
  background: #f9f9f9;
  border: 1px solid #c1c1c1;
  margin-top: 0.4rem;
  max-width: 400px;
  padding: 1em;
}

form h2{
    color: #0277BD;
}

form input {
  margin-bottom: 1rem;
  background: #fff;
  border: 1px solid #9c9c9c;
}

button {
  margin-top: 14px;
  background: lightgrey;
  padding: 0.7em;
  border: 0;
}

button:hover {
  background: #039BE5;
}

input:focus {
  outline: 3px solid #039BE5;
}

