/*************** PAGE ***************/

#worksheet_input, #worksheet{
    display: inline-block;
    vertical-align: top;
}

#worksheet_input{
    max-width: 24%;
}

#worksheet{
    max-width: 75%;
}

#page1, #page2{
    width: 8.5in;
    height: 11in;
    border: 1px solid black;
    padding: .5in;
}

/*************** FORM ***************/

#worksheet_input label{
    display: block;
}

#worksheet_input input[type=submit]{
    margin-top: 50px;
}

/*************** PRINT ***************/
@media print{
    @page {
        size: letter;
        margin: 0;
        padding: 0;
    }
    
    body *{
        visibility: hidden;
    }
    
    #worksheet, #worksheet *{
        visibility: visible;
    }
    
    #worksheet{
        position: absolute;
        left: 0;
        top: 0;
    }
    
    #page1, #page2{
        width: 8.5in;
        height: 11in;
    }
}

/*************** MISC ***************/
.hide{
    visibility: hidden;
}
